---
layout: none
---
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>NightAuctor @ ArtFight 2021</title>
	
	<!--google fonts-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>
	<link rel="stylesheet" type="text/css" href="css.css"/>
</head>

<body>

	{%include def.html%}
	{%include atk.html%}

	<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
	<script>
		//this works in the fancyapps playground but not my local machine whyyyy
		Fancybox.bind("[data-fancybox]", {
			animated: false,
			click: null //because otherwise socmed links are annoying
		});
	</script>
</body>
</html>