{%include art.html dir="atk" for="for "
	artist="Middynos"
	filetype="png"
	artfight="1768850.la-beast"
	
	da="Middynos"
	tb="crispy-sand-gator"
	tw="Tazumili"
	ig="Middynos"
	th="Middynos"
%}{%include art.html dir="atk" for="for "
	artist="paytonsnewheart"
	filetype="png"
	artfight="1847723.a-doggo"
	
	da="SorenTheDragon"
	tb="paytonsnewart"
	th="paytonsnewheart"
%}{%include art.html dir="atk" for="for "
	artist="SmolAngel"
	filetype="png"
	artfight="1910201.ethereal-enby"
	
	da="Nana-Chan365"
	tb="nanadoesart"
	tw="NanaDoesArt"
	th="SmolAngelNana"
	site="twitch"
	siteurl="https://m.twitch.tv/smolangelnana/profile"
%}{%include art.html dir="atk" for="for "
	artist="TikkiToon"
	filetype="png"
	artfight="1955449.midnight-rockin"
	
	da="Toon-O-Clock"
	tw="tikkitoonArt"
	ig="tikkitoon"
	site="linkhub"
	siteurl="https://beacons.ai/tikkitoon"
%}<a href="img/atk/7Cloud227-1.png" data-fancybox="gallery" data-caption="<div class='artist'>for <a href='https://artfight.net/attack/2022525.color-crew' target='_blank'><b>7Cloud227</b></a></div><div class='linklist'><span class='socmed'><a href='https://7Cloud227.deviantart.com' target='_blank'>deviantArt</a></span><span class='socmed'><a href='https://twitter.com/7Cloud227' target='_blank'>twitter</a></span><span class='socmed'><a href='https://instagram.com/7Cloud227' target='_blank'>instagram</a></span><div class='customsite'><a href='https://www.webtoons.com/en/challenge/summers-blues/list?title_no=496766' target='_blank'>webcomic</a></span></s></div>"><img src="img/atk/7Cloud227-1-tn.png" alt="7Cloud227 (1/2)"/></a>{%include art.html dir="atk" for="for "
	artist="Zvarricopter"
	filetype="png"
	artfight="2086207.brrrbrbrbrbrbrbr"
	
	da="Zvarricopter"
	th="Zvarricopter"
%}{%include art.html dir="atk" for="for "
	artist="kiriska"
	filetype="png"
	artfight="2156737.eyes-for-dayssss"
	
	da="kiriska"
	fa="kiriska"
	tb="kiriska"
	tw="kiriska"
	ig="kiriska"
	th="kiriska"
%}{%include art.html dir="atk" for="for "
	artist="BloodRuined"
	filetype="png"
	artfight="2159687.i-am-heal-everything-so-you-all-be-best-immune-system"
	
	tw="BloodRuined"
	th="KillingMorph"
%}{%include art.html dir="atk" for="for "
	artist="PricklyGoose"
	filetype="png"
	artfight="2223126.fishbrib"
	
	da="PricklyGoose"
	fa="PricklyGoose"
	tb="PricklyG00se"
	tw="PricklyGoose"
	ig="PricklyGoose"
	th="PricklyGoose"
%}{%include art.html dir="atk" for="for "
	artist="MisterMuse"
	filetype="png"
	artfight="2230464.vincent-van-lesgooo"
	
	da="MisterMuse"
	th="MisterMuse"
	site="carrd"
	siteurl="https://mistermuse.carrd.co/"
%}<a href="img/atk/7Cloud227-2.png" data-fancybox="gallery" data-caption="<div class='artist'>for <a href='https://artfight.net/attack/2275021.gaaaal-paaaaals' target='_blank'><b>7Cloud227</b></a></div><div class='linklist'><span class='socmed'><a href='https://7Cloud227.deviantart.com' target='_blank'>deviantArt</a></span><span class='socmed'><a href='https://twitter.com/7Cloud227' target='_blank'>twitter</a></span><span class='socmed'><a href='https://instagram.com/7Cloud227' target='_blank'>instagram</a></span><div class='customsite'><a href='https://www.webtoons.com/en/challenge/summers-blues/list?title_no=496766' target='_blank'>webcomic</a></span></s></div>"><img src="img/atk/7Cloud227-2-tn.png" alt="7Cloud227 (2/2)"/></a>{%include art.html dir="atk" for="for "
	artist="Royal-Chimera"
	filetype="png"
	artfight="2277302.arent-you-a-riot"
	
	da="royal-chimera"
	tb="royal-chimera"
	tw="r0yalchimera"
	ig="royal.chimera"
	th="royal-chimera"
%}{%include art.html dir="atk" for="for "
	artist="nostalgeist"
	filetype="png"
	artfight="2328036.see-them-rollin-they-skatin"
	
	da="nostalgeist"
	ig="digipani"
	th="digipani"
%}{%include art.html dir="atk" for="for "
	artist="SaintOfCorn"
	filetype="gif"
	artfight="2353765.bibiblep"
	
	tb="saintofcorn"
	tw="SaintofCorn"
	ig="saintofcorn"
	site="YouTube"
	siteurl="https://www.youtube.com/channel/UCS15pVGhMi_ejgPlqONu8Zg"
%}{%include art.html dir="atk" for="for "
	artist="Tiemat"
	filetype="gif"
	artfight="2407592.take-a-swig-of-this"
	
	ig="limineonal"
	th="Tiemat"
	site="carrd"
	siteurl="https://strrsystem.carrd.co/"
%}{%include art.html dir="atk" for="for "
	artist="finchii"
	filetype="png"
	artfight="2427507.smile-for-the-camera"
	
	tw="finchii_"
	ig="finchii_arts"
	th="finchii"
%}{%include art.html dir="atk" for="for "
	artist="YuckYuckYee"
	filetype="png"
	artfight="2501012.bleep-bloop"
	
	tw="PencilFlappy"
	ig="yuckyuckyee"
	site="linkhub"
	siteurl="https://linktr.ee/YuckYuckYee"
%}{%include art.html dir="atk" for="for "
	artist="fezzamond"
	filetype="png"
	artfight="2516920.science-dog-but-make-it-pastel"
	
	da="fezzamond"
	tb="Fezzamond"
	tw="Fezzamond"
	ig="fezzamond"
%}{%include art.html dir="atk" for="for "
	artist="Atroppa-Nightshade"
	filetype="png"
	artfight="2524140.inserts-circus-music"
	
	tb="atroppa-nightshade"
	th="Atroppa_Nightshade"
	site="YouTube"
	siteurl="https://www.youtube.com/channel/UC4ya-kMRncRTLmsLioloQOw/featured"
%}{%include art.html dir="atk" for="for "
	artist="Ribustol"
	filetype="png"
	artfight="2525497.dragon-guy-guy-me-a-dragon"
	
	da="Ribustol"
	tw="Ribust0l"
	ig="Ribustol"
%}{%include art.html dir="atk" for="for "
	artist="DrMordred"
	filetype="png"
	artfight="2527650.fidgets-ominously"
%}{%include art.html dir="atk" for="for "
	artist="SteampunkLlama"
	filetype="png"
	artfight="2548701.funky-draconic-android"
	
	tb="steampunk-llama"
	ig="steampunkllama"
	th="SteampunkLlama"
	site="Flight Rising"
	siteurl="https://flightrising.com/main.php?p=lair&tab=userpage&id=209084"
%}{%include art.html dir="atk" for="for "
	artist="Timothy_stars"
	filetype="png"
	artfight="2668194.cryptid-creacher-link-in-desc"
	
	ig="Timothy_stars"
%}{%include art.html dir="atk" for="for "
	artist="Sweetybeedy"
	filetype="png"
	artfight="2669587.like-yknow-link-in-desc"
	
	ig="megandoesartisuppose"
	site="YouTube"
	siteurl="https://youtube.com/channel/UCHarctFhldWSXzUKTFfiRag"
%}