{%include art.html dir="atk" for="for "
	artist="Middynos"
	artfight="1750415.those-three-guys"
	num="01"
	
	da="Middynos"
	tb="crispy-sand-gator"
	tw="Tazumili"
	ig="Middynos"
	th="Middynos"
%}{%include art.html dir="atk" for="for "
	artist="paytonsnewheart"
	artfight="1847723.a-doggo"
	num="02"
	
	da="SorenTheDragon"
	tb="paytonsnewart"
	th="paytonsnewheart"
%}{%include art.html dir="atk" for="for "
	artist="SmolAngel"
	artfight="1910201.ethereal-enby"
	num="03"
	
	da="Nana-Chan365"
	tb="nanadoesart"
	tw="NanaDoesArt"
	th="SmolAngelNana"
	site="twitch"
	siteurl="https://m.twitch.tv/smolangelnana/profile"
%}{%include art.html dir="atk" for="for "
	artist="TikkiToon"
	artfight="1955449.midnight-rockin"
	num="04"
	
	da="Toon-O-Clock"
	tw="tikkitoonArt"
	ig="tikkitoon"
	site="linkhub"
	siteurl="https://beacons.ai/tikkitoon"
%}{%include art.html dir="atk" for="for "
	artist="7Cloud227"
	artfight="2022525.color-crew"
	num="05"
	
	da="7cloud227"
	tw="7Cloud227"
	ig="7Cloud227"
	site="webcomic"
	siteurl="https://www.webtoons.com/en/challenge/summers-blues/list?title_no=496766"
%}{%include art.html dir="atk" for="for "
	artist="Zvarricopter"
	artfight="2086207.brrrbrbrbrbrbrbr"
	num="06"
	
	da="Zvarricopter"
	th="Zvarricopter"
%}{%include art.html dir="atk" for="for "
	artist="kiriska"
	artfight="2156737.eyes-for-dayssss"
	num="07"
	
	da="kiriska"
	fa="kiriska"
	tb="kiriska"
	tw="kiriska"
	ig="kiriska"
	th="kiriska"
%}{%include art.html dir="atk" for="for "
	artist="BloodRuined"
	artfight="2159687.i-am-heal-everything-so-you-all-be-best-immune-system"
	num="08"
	
	tw="BloodRuined"
	th="KillingMorph"
%}{%include art.html dir="atk" for="for "
	artist="PricklyGoose"
	artfight="2223126.fishbrib"
	num="09"
	
	da="PricklyGoose"
	fa="PricklyGoose"
	tb="PricklyG00se"
	tw="PricklyGoose"
	ig="PricklyGoose"
	th="PricklyGoose"
%}{%include art.html dir="atk" for="for "
	artist="MisterMuse"
	artfight="2230464.vincent-van-lesgooo"
	num="10"
	
	da="MisterMuse"
	th="MisterMuse"
	site="carrd"
	siteurl="https://mistermuse.carrd.co/"
%}{%include art.html dir="atk" for="for "
	artist="7Cloud227"
	artfight="2275021.gaaaal-paaaaals"
	num="11"
	
	da="7cloud227"
	tw="7Cloud227"
	ig="7Cloud227"
	site="webcomic"
	siteurl="https://www.webtoons.com/en/challenge/summers-blues/list?title_no=496766"
%}{%include art.html dir="atk" for="for "
	artist="Royal-Chimera"
	artfight="2277302.arent-you-a-riot"
	num="12"
	
	da="royal-chimera"
	tb="royal-chimera"
	tw="r0yalchimera"
	ig="royal.chimera"
	th="royal-chimera"
%}{%include art.html dir="atk" for="for "
	artist="nostalgeist"
	artfight="2328036.see-them-rollin-they-skatin"
	num="13"
	
	da="nostalgeist"
	ig="digipani"
	th="digipani"
%}{%include art.html dir="atk" for="for "
	artist="SaintOfCorn"
	artfight="2353765.bibiblep"
	num="14"
	file="gif"
	
	tb="saintofcorn"
	tw="SaintofCorn"
	ig="saintofcorn"
	site="YouTube"
	siteurl="https://www.youtube.com/channel/UCS15pVGhMi_ejgPlqONu8Zg"
%}{%include art.html dir="atk" for="for "
	artist="Tiemat"
	artfight="2407592.take-a-swig-of-this"
	num="15"
	file="gif"
	
	ig="limineonal"
	th="Tiemat"
	site="carrd"
	siteurl="https://strrsystem.carrd.co/"
%}{%include art.html dir="atk" for="for "
	artist="finchii"
	artfight="2427507.smile-for-the-camera"
	num="16"
	
	tw="finchii_"
	ig="finchii_arts"
	th="finchii"
%}{%include art.html dir="atk" for="for "
	artist="YuckYuckYee"
	artfight="2501012.bleep-bloop"
	num="17"
	
	tw="PencilFlappy"
	ig="yuckyuckyee"
	site="linkhub"
	siteurl="https://linktr.ee/YuckYuckYee"
%}{%include art.html dir="atk" for="for "
	artist="fezzamond"
	artfight="2516920.science-dog-but-make-it-pastel"
	num="18"
	
	da="fezzamond"
	tb="Fezzamond"
	tw="Fezzamond"
	ig="fezzamond"
%}{%include art.html dir="atk" for="for "
	artist="Atroppa-Nightshade"
	artfight="2524140.inserts-circus-music"
	num="19"
	
	tb="atroppa-nightshade"
	th="Atroppa_Nightshade"
	site="YouTube"
	siteurl="https://www.youtube.com/channel/UC4ya-kMRncRTLmsLioloQOw/featured"
%}{%include art.html dir="atk" for="for "
	artist="Ribustol"
	artfight="2525497.dragon-guy-guy-me-a-dragon"
	num="20"
	
	da="Ribustol"
	tw="Ribust0l"
	ig="Ribustol"
%}{%include art.html dir="atk" for="for "
	artist="DrMordred"
	num="21"
	artfight="2527650.fidgets-ominously"
%}{%include art.html dir="atk" for="for "
	artist="SteampunkLlama"
	artfight="2548701.funky-draconic-android"
	num="22"
	
	tb="steampunk-llama"
	ig="steampunkllama"
	th="SteampunkLlama"
	site="Flight Rising"
	siteurl="https://flightrising.com/main.php?p=lair&tab=userpage&id=209084"
%}{%include art.html dir="atk" for="for "
	artist="Timothy_stars"
	artfight="2668194.cryptid-creacher-link-in-desc"
	num="23"
	
	ig="Timothy_stars"
%}{%include art.html dir="atk" for="for "
	artist="Sweetybeedy"
	artfight="2669587.like-yknow-link-in-desc"
	num="24"
	
	ig="megandoesartisuppose"
	site="YouTube"
	siteurl="https://youtube.com/channel/UCHarctFhldWSXzUKTFfiRag"
%}