{%include art.html
	dir="def"
	artist="Middynos"
	filetype="jpg"
	artfight="1768850.la-beast"
	
	da="Middynos"
	tb="crispy-sand-gator"
	tw="Tazumili"
	ig="Middynos"
	th="Middynos"
%}<a href="img/def/7Cloud227-1.jpg" data-fancybox="gallery" data-caption="<div class='artist'><a href='https://artfight.net/attack/2214152.sawfaceee' target='_blank'><b>7Cloud227</b></a></div><div class='linklist'><span class='socmed'><a href='https://7Cloud227.deviantart.com' target='_blank'>deviantArt</a></span><span class='socmed'><a href='https://twitter.com/7Cloud227' target='_blank'>twitter</a></span><span class='socmed'><a href='https://instagram.com/7Cloud227' target='_blank'>instagram</a></span><div class='customsite'><a href='https://www.webtoons.com/en/challenge/summers-blues/list?title_no=496766' target='_blank'>webcomic</a></span></s></div>"><img src="img/def/7Cloud227-1-tn.png" alt="7Cloud227 (1/2)"/></a>{%include art.html
	dir="def"
	artist="Royal-Chimera"
	filetype="jpg"
	artfight="2293707.sawface"
	
	da="royal-chimera"
	tb="royal-chimera"
	tw="r0yalchimera"
	ig="royal.chimera"
	th="royal-chimera"
%}{%include art.html
	dir="def"
	artist="MisterMuse"
	filetype="png"
	artfight="2303550.oh-lawd-it-comin"
	
	da="MisterMuse"
	th="MisterMuse"
	site="carrd"
	siteurl="https://mistermuse.carrd.co/"
%}<a href="img/def/7Cloud227-2.jpg" data-fancybox="gallery" data-caption="<div class='artist'><a href='https://artfight.net/attack/2347644.zeroooooo' target='_blank'><b>7Cloud227</b></a></div><div class='linklist'><span class='socmed'><a href='https://7Cloud227.deviantart.com' target='_blank'>deviantArt</a></span><span class='socmed'><a href='https://twitter.com/7Cloud227' target='_blank'>twitter</a></span><span class='socmed'><a href='https://instagram.com/7Cloud227' target='_blank'>instagram</a></span><div class='customsite'><a href='https://www.webtoons.com/en/challenge/summers-blues/list?title_no=496766' target='_blank'>webcomic</a></span></s></div>"><img src="img/def/7Cloud227-2-tn.png" alt="7Cloud227 (2/2)"/></a>{%include art.html
	dir="def"
	artist="SmolAngel"
	filetype="jpg"
	artfight="2387120.the-engineer-would-like-to-join-your-party"
	
	da="Nana-Chan365"
	tb="nanadoesart"
	tw="NanaDoesArt"
	th="SmolAngelNana"
	site="twitch"
	siteurl="https://m.twitch.tv/smolangelnana/profile"
%}{%include art.html
	dir="def"
	artist="Tiemat"
	filetype="png"
	artfight="2450458.zero"
	
	ig="limineonal"
	th="Tiemat"
	site="carrd"
	siteurl="https://strrsystem.carrd.co/"
%}{%include art.html
	dir="def"
	artist="YuckYuckYee"
	filetype="jpg"
	artfight="2492278.toolbelt-kid-0"
	
	tw="PencilFlappy"
	ig="yuckyuckyee"
	site="linkhub"
	siteurl="https://linktr.ee/YuckYuckYee"
%}{%include art.html
	dir="def"
	artist="Zvarricopter"
	filetype="jpg"
	artfight="2516199.be-not-afraid"
	
	da="Zvarricopter"
	th="Zvarricopter"
%}{%include art.html
	dir="def"
	artist="Atroppa-Nightshade"
	filetype="png"
	artfight="2518660.emo-entity"
	
	tb="atroppa-nightshade"
	th="Atroppa_Nightshade"
	site="YouTube"
	siteurl="https://www.youtube.com/channel/UC4ya-kMRncRTLmsLioloQOw/featured"
%}{%include art.html
	dir="def"
	artist="Timothy_stars"
	filetype="jpg"
	artfight="2525852.zero"
	
	ig="Timothy_stars"
%}{%include art.html
	dir="def"
	artist="Sweetybeedy"
	filetype="jpg"
	artfight="2526090.45"
	
	ig="megandoesartisuppose"
	site="YouTube"
	siteurl="https://youtube.com/channel/UCHarctFhldWSXzUKTFfiRag"
%}{%include art.html
	dir="def"
	artist="DrMordred"
	filetype="jpg"
	artfight="2545626.zero"
%}{%include art.html
	dir="def"
	artist="TikkiToon"
	filetype="jpg"
	artfight="2553219.toolbelt-kid"
	
	da="Toon-O-Clock"
	tw="tikkitoonArt"
	ig="tikkitoon"
	site="linkhub"
	siteurl="https://beacons.ai/tikkitoon"
%}{%include art.html
	dir="def"
	artist="kiriska"
	filetype="jpg"
	artfight="2585373.teeth-teeth-teeth"
	
	da="kiriska"
	fa="kiriska"
	tb="kiriska"
	tw="kiriska"
	ig="kiriska"
	th="kiriska"
%}{%include art.html
	dir="def"
	artist="Ribustol"
	filetype="png"
	artfight="2611056.zero"
	
	da="Ribustol"
	tw="Ribust0l"
	ig="Ribustol"
%}