/*https://google-webfonts-helper.herokuapp.com/fonts/noto-sans + https://cssminifier.org/*/
/*regular*/@font-face{font-family:'Noto Sans';font-style:normal;font-weight:400;src:url('fonts/noto-sans-v27-latin-regular.eot');src:local(''),url('fonts/noto-sans-v27-latin-regular.eot?#iefix') format('embedded-opentype'),url('fonts/noto-sans-v27-latin-regular.woff2') format('woff2'),url('fonts/noto-sans-v27-latin-regular.woff') format('woff'),url('fonts/noto-sans-v27-latin-regular.ttf') format('truetype'),url('fonts/noto-sans-v27-latin-regular.svg#NotoSans') format('svg')}/*italic*/@font-face{font-family:'Noto Sans';font-style:italic;font-weight:400;src:url('fonts/noto-sans-v27-latin-italic.eot');src:local(''),url('fonts/noto-sans-v27-latin-italic.eot?#iefix') format('embedded-opentype'),url('fonts/noto-sans-v27-latin-italic.woff2') format('woff2'),url('fonts/noto-sans-v27-latin-italic.woff') format('woff'),url('fonts/noto-sans-v27-latin-italic.ttf') format('truetype'),url('fonts/noto-sans-v27-latin-italic.svg#NotoSans') format('svg')}/*bold*/@font-face{font-family:'Noto Sans';font-style:normal;font-weight:700;src:url('fonts/noto-sans-v27-latin-700.eot');src:local(''),url('fonts/noto-sans-v27-latin-700.eot?#iefix') format('embedded-opentype'),url('fonts/noto-sans-v27-latin-700.woff2') format('woff2'),url('fonts/noto-sans-v27-latin-700.woff') format('woff'),url('fonts/noto-sans-v27-latin-700.ttf') format('truetype'),url('fonts/noto-sans-v27-latin-700.svg#NotoSans') format('svg')}

/*core layout & colors*/
*{margin:0; padding:0; box-sizing:border-box; font-size:100%;}
body{overflow-x:hidden; word-wrap:break-word; font-family:'noto sans','segoe ui',sans-serif; line-height:1.5; background:#3d3d3d; color:#3d3d3d;}
img{max-width:100%; height:auto;}
header,nav,main,figure,footer{display:block;}

::selection{background:rgba(128,128,128,.25);}
a{color:inherit; text-decoration:underline 1.2px dashed #c2c2c2;} a:focus,a:hover,a:active{color: #5acae9; text-decoration-color:#abe4f3;}
header,footer{color:#c2c2c2;}

header,footer,h1,h2{padding:1rem;}
main{background:#fff; padding:0 0 1rem;}
h1,h2,p,hr,main ul,details{max-width:35rem;}
h1,h2{padding-bottom:0; text-align:center;}
h1{font-size:2em; font-weight:normal; padding-top:.5rem;}
h2{font-size:1.5em; color:#5b5b5b;}
p{margin:.5em 0; padding:0 1rem;}

blockquote{margin:.5em auto; border-left:.25em #e0e0e0 solid; max-width:32.5em;}
.box{border:1px solid #e0e0e0; border-radius:.15em; background:#efefef; max-width:40rem; margin:1em auto; padding:.5em;}
hr{background:#e0e0e0; height:1.5px; border:0; margin:1em auto;}
main ul{margin:0 auto; padding:0 1em 0 2em;}
details{margin:.5em auto; padding-left:1rem;} summary{font-weight:bold; cursor:pointer; border-bottom:2px dashed rgba(0,0,0,0);} summary:hover,summary:active{border-color:#c2c2c2;}

/*header+footer*/
header ul,footer ul{list-style-type:none;}
header,footer{text-align:center;}
header{font-size:1.15em;}
header a{text-decoration:none; padding:.15em 0; display:block;} header a:hover,header a:focus,header a:active{background:#797979; color:#fff;}
#home{text-transform:uppercase; letter-spacing:0.025em; word-spacing:0.035em; font-weight:bold; font-size:1em;}
.artlnk{font-weight:bold;}
#yrs,#yrs a,#yrs li{display:inline;} #yrs a{padding:0 .5em;}

footer a{text-decoration-color:#797979;} footer p a{text-decoration:none;} footer a:hover,footer a:active,footer a:focus{color:#fff; text-decoration-color:#c2c2c2;}
footer li{margin:.15em 0;} footer p{margin:1em 0 0;}

/*widescreen*/
@media only screen and (min-width:575px){
	h1,h2{margin:0 auto;}
	p{margin:.5em auto;}
	
	header,footer{overflow:auto; margin:0 auto;}
	header{max-width:30rem;}
	#home,header nav,footer ul,footer p{float:left;}
	#home{width:35%; margin-left:1.75em; padding:.25em .5em;}
	#home{font-size:1.25em;} header nav{text-align:left;} header li{padding-left:.5em;} #yrs li{padding:0;}
	footer{max-width:35rem;} footer ul{width:70%;} footer p{width:25%;}
}

/*gallery*/
.gallery{line-height:0; margin:1em auto;} .gallery figure,.gallery a{display:inline-block; border-radius:5px; text-align:center;} .gallery a{border:2px dashed #c2c2c2; padding:3px; width:210px; height:210px; margin:5px;} .gallery img{border-radius:3px;}
.gallery a:hover,.gallery a:focus,.gallery a:active{background:#e0e0e0; border-color:#ababab;}
.gallery figure{width:50%;}
@media only screen and (min-width:525px) {.gallery figure{width:30%; margin:0 1%;} .gallery a{width:100%; height:auto;}}
@media only screen and (min-width:750px) {.gallery figure{margin:0 .75%;} .gallery.four figure{width:23%;} .gallery.five figure{width:18.15%;} .gallery.six figure{width:15%;}}
@media only screen and (min-width:910px) {.gallery.four figure{width:210px; margin:0 5px;} .gallery.four{max-width:910px;}}
@media only screen and (min-width:1140px) {.gallery.five figure{width:210px; margin:0 5px;} .gallery.five{max-width:1140px;}}
@media only screen and (min-width:1330px) {.gallery.six figure{width:210px; margin:0 5px;} .gallery.six{max-width:1330px;}}
.atk{border-style:dotted !important;}

/*fancybox-customization*/
.fancybox__counter,.fancybox__button--slideshow,.fancybox__button--thumbs,.fancybox__thumbs{display:none;}
.fancybox__toolbar{background:0;}
.fancybox__slide{padding-bottom:1em;}
.fancybox__caption a{text-decoration:none;}
.fancybox__caption a:hover,.fancybox__caption a:focus,.fancybox__caption a:active{text-decoration:underline 1.2px dashed #c2c2c2; color:inherit;}

/*teams
cyberpunk #bf54e2 | bloom  #98a54e
steampunk #bb6726 | wither #a86b8b
*/
.y2021.def{border-color:#bb6726 !important; color:#bb6726 !important;}
.y2021,.y2021.ff{border-color:#bf54e2 !important; color:#bf54e2 !important;}
.y2022.def{border-color:#a86b8b !important; color:#a86b8b !important;}
.y2022,.y2022.ff{border-color:#98a54e !important; color:#98a54e !important;}