---
layout: 2021
title: stuff I drew for other people
class: fy
---
<p class="info"><span>all links open in new tabs;</span> <span>recipient name links to attack on ArtFight</span></p>
<div class="gallery">{%include art.html
	dir="def"
	artist="Middynos"
	artfight="1768850.la-beast"
	num="01"
	
	da="Middynos"
	tb="crispy-sand-gator"
	tw="Tazumili"
	ig="Middynos"
	th="Middynos"
%}{%include art.html dir="def"
	artist="7Cloud227"
	artfight="2214152.sawfaceee"
	num="02"
	
	da="7cloud227"
	tw="7Cloud227"
	ig="7Cloud227"
	site="webcomic"
	siteurl="https://www.webtoons.com/en/challenge/summers-blues/list?title_no=496766"
%}{%include art.html
	dir="def"
	artist="Royal-Chimera"
	artfight="2293707.sawface"
	file="jpeg"
	num="03"
	
	da="royal-chimera"
	tb="royal-chimera"
	tw="r0yalchimera"
	ig="royal.chimera"
	th="royal-chimera"
%}{%include art.html
	dir="def"
	artist="MisterMuse"
	artfight="2303550.oh-lawd-it-comin"
	num="04"
	
	da="MisterMuse"
	th="MisterMuse"
	site="carrd"
	siteurl="https://mistermuse.carrd.co/"
%}{%include art.html dir="def"
	artist="7Cloud227"
	artfight="2347644.zeroooooo"
	num="05"
	
	da="7cloud227"
	tw="7Cloud227"
	ig="7Cloud227"
	site="webcomic"
	siteurl="https://www.webtoons.com/en/challenge/summers-blues/list?title_no=496766"
%}{%include art.html
	dir="def"
	artist="SmolAngel"
	artfight="2387120.the-engineer-would-like-to-join-your-party"
	num="06"
	
	da="Nana-Chan365"
	tb="nanadoesart"
	tw="NanaDoesArt"
	th="SmolAngelNana"
	site="twitch"
	siteurl="https://m.twitch.tv/smolangelnana/profile"
%}{%include art.html
	dir="def"
	artist="Tiemat"
	artfight="2450458.zero"
	num="07"
	
	ig="limineonal"
	th="Tiemat"
	site="carrd"
	siteurl="https://strrsystem.carrd.co/"
%}{%include art.html
	dir="def"
	artist="YuckYuckYee"
	artfight="2492278.toolbelt-kid-0"
	num="08"
	
	tw="PencilFlappy"
	ig="yuckyuckyee"
	site="linkhub"
	siteurl="https://linktr.ee/YuckYuckYee"
%}{%include art.html
	dir="def"
	artist="Zvarricopter"
	artfight="2516199.be-not-afraid"
	num="09"
	
	da="Zvarricopter"
	th="Zvarricopter"
%}{%include art.html
	dir="def"
	artist="Atroppa-Nightshade"
	artfight="2518660.emo-entity"
	num="10"
	
	tb="atroppa-nightshade"
	th="Atroppa_Nightshade"
	site="YouTube"
	siteurl="https://www.youtube.com/channel/UC4ya-kMRncRTLmsLioloQOw/featured"
%}{%include art.html
	dir="def"
	artist="Timothy_stars"
	artfight="2525852.zero"
	num="11"
	
	ig="Timothy_stars"
%}{%include art.html
	dir="def"
	artist="Sweetybeedy"
	artfight="2526090.45"
	num="12"
	
	ig="megandoesartisuppose"
	site="YouTube"
	siteurl="https://youtube.com/channel/UCHarctFhldWSXzUKTFfiRag"
%}{%include art.html
	dir="def"
	artist="DrMordred"
	num="13"
	artfight="2545626.zero"
%}{%include art.html
	dir="def"
	artist="TikkiToon"
	artfight="2553219.toolbelt-kid"
	num="14"
	
	da="Toon-O-Clock"
	tw="tikkitoonArt"
	ig="tikkitoon"
	site="linkhub"
	siteurl="https://beacons.ai/tikkitoon"
%}{%include art.html
	dir="def"
	artist="kiriska"
	num="15"
	file="jpg"
	artfight="2585373.teeth-teeth-teeth"
	
	da="kiriska"
	fa="kiriska"
	tb="kiriska"
	tw="kiriska"
	ig="kiriska"
	th="kiriska"
%}{%include art.html
	dir="def"
	artist="Ribustol"
	num="16"
	artfight="2611056.zero"
	
	da="Ribustol"
	tw="Ribust0l"
	ig="Ribustol"
%}</div>