<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Comptaible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>ArtFight showcase{%if page.title%} | {{page.title}}{%endif%}</title>
	<link rel="stylesheet" type="text/css" href="{%include url.html%}/assets/2022.css">
</head><body>
	<header>
		<a href="{%include url.html%}" id="home">ArtFight Showcase</a>
		<nav><ul>
			<a href="{%include url.html%}/about"><li>owo whats this</li></a>
			<a href="{%include url.html%}/for-me" class="artlnk"><li>art for me</li></a>
			<a href="{%include url.html%}/for-you" class="artlnk"><li>art for you</li></a>
			<li>by year:&nbsp;
				<ul id="yrs"><a href="{%include url.html%}/art/2021"><li>2021</li></a>
				<a href="{%include url.html%}/art/2022"><li>2022</li></a></ul></li>
		</ul></nav>
	</header>
	<main>{{content}}</main>
	<footer><ul>
		<li>base site code by <a href="{{site.url}}">a-flyleaf</a>/<a href="https://artfight.net/~NightAuctor">NightAuctor</a></li>
		<li>galleries use <a href="https://fancyapps.com/docs/ui/fancybox/">fancybox v4</a></li>
		<li>art and characters belong to those credited</li>
		<li>font is Noto Sans via <a href="https://google-webfonts-helper.herokuapp.com">google-webfonts-helper</a></li>
	</ul><p>©&nbsp;2021–2022</p></footer>
</body>
</html>